/* roboto-regular - cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v29-cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v29-cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v29-cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v29-cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v29-cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v29-cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
  /* roboto-500 - cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v29-cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v29-cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v29-cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v29-cyrillic-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v29-cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v29-cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
  }

  @font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?8y2cia');
    src:  url('../fonts/icomoon.eot?8y2cia#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?8y2cia') format('truetype'),
      url('../fonts/icomoon.woff?8y2cia') format('woff'),
      url('../fonts/icomoon.svg?8y2cia#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-vk:before {
    content: "\e901";
    color: #fff;
  }

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.64;
    letter-spacing: 0em;

}

.wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.header {
    background: #EEEFF1;
    margin: 0 -15px;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

.header-row {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
}

.logo {
    display: block;
    order: 1;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    order: -1;
}

.hidden {
    position: absolute;
    left: -99999px;
    opacity: 0;
    visibility: hidden;
}

.burger {
    position: relative;
    width: 26px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
}

#burger:checked ~ .nav-list {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s ease-in-out;
}

#burger:checked + .burger::before {
    transition: transform .3s ease-in-out;
    top: 9px;
    transform: rotate(45deg);
}

#burger:checked + .burger span {
    opacity: 0;
    visibility: hidden;
}

#burger:checked + .burger::after {
    transition: transform .3s ease-in-out;
    bottom: 5px;
    transform: rotate(-45deg);
}

.burger::before,
.burger span,
.burger::after {
    position: absolute;
    right: 0;
    left: 0;
    height: 2px;
    background: #34547A;
}

.burger::after,
.burger::before {
    content: '';
}

.burger::before {
    top: 0;
}

.burger span {
    top: 7px;
}

.burger::after {
    bottom: 0;
}

.nav-list {
    list-style: none;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    padding: 20px 0 5px;
    background: #EEEFF1;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 1px 8px 3px #34547A;
}

.nav-list li {
    padding-bottom: 15px;
}

.nav-list a {
    color: black;
    text-decoration: none;
}

.nav-list a:hover {
    color: #34547A;
    font-weight: 500;
}

.banner {
    background: #EEEFF1;
    padding: 30px 0;
}

.banner-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-note {
    margin-bottom: 20px;
    text-align: center;
}

.note-img {
    max-width: 357px;
    width: 50%;
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-heading {
    font-size: 30px;
    margin: 0 0 15px;
    line-height: 1;
}

.banner-text .text {
    max-width: 540px;
    font-size: 14px;
    color: #727272;
    margin: 0 0 10px;
}

.banner-text .button {
    padding: 15px 30px;
    font-size: 14px;
    background: #34547A;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.about-me {
    background: white;
    padding: 30px 0;
    text-align: center;
}

.about-me .title {
    font-size: 26px;
    margin: 0 0 15px;
    font-weight: 500;
}

.about-me .text {
    max-width: 540px;
    margin: 0 auto;
    font-size: 14px;
    color: #727272;
}

.project {
    background: #34547A;
    padding: 30px 0 10px;
}

.project-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -10px;
}

.project-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0 10px 20px;
}

.project-icon {
    margin-right: 20px;
}

.project-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
}

.project-item .title {
    font-size: 18px;
    line-height: 1.17;
    margin: 0 0 10px;
    font-weight: 500;
}

.project-item .span {
    line-height: 1.17;
}

.skills {
    padding: 30px 0;
}

.skills-row {
    display: flex;
    align-items: center;
    margin: 0 -75px;
}

.skills-col {
    padding: 0 75px;
    width: 90%;
    margin: auto;
}

.skills-img {
    display: none;
}

.skills .title {
    font-size: 26px;
    text-align: center;
    margin: 0 0 20px;
    font-weight: 500;
    line-height: 1.17;
}

.skills-name {
    color: #727272;
    display: block;
    margin-bottom: 20px;
}

.skills-loader {
    position: relative;
    width: 100%;
    height: 4px;
    background: #C4C4C4;
    margin-bottom: 30px;
}

.skills-load {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #34547A;

}

.section-video {
    background: #EEEFF1;
    padding: 30px 0;
    text-align: center;
}

.section-video .title {
    font-size: 26px;
    line-height: 1.17;
    font-weight: 500;
    margin: 0 0 15px;
}

.section-video .text {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    max-width: 540px;
    color: #727272;
}

.section-video .video {
    display: block;
    margin: auto;
    position: relative;
    max-width: 1110px;
}

.video .video-button {
    position: absolute;
    width: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

.img-list {
    display: flex;
    flex-wrap: wrap;

}

.img-item {
    display: block;
    position: relative;
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50%;
}

.item-wrap {
    order: +1;
}

.img-item::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(52, 84, 122, 0.8);
    opacity: 0;
    visibility: hidden;
}

.img-item::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../images/view.svg);
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 57px;
    opacity: 0;
    visibility: hidden;
}

.img-item:hover::before,
.img-item:hover::after {
    transition: opacity .3s ease-in-out;
    opacity: 1;
    visibility: visible;
}

.clients {
    padding: 30px 0;
}

.clients-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 -15px;
}

.clients-img {
    text-align: center;
    padding: 0 15px;
    width: 50%;
}

.section-form {
    background: #EEEFF1;
    padding: 30px 0;
}

.form-row {
    max-width: 540px;
    display: block;
    margin: auto;
    text-align: center;
}

.form-row .title {
    font-size: 26px;
    line-height: 1.17;
    font-weight: 500;
    margin: 0 0 20px;
}

.form-row .text {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 540px;
    color: #727272;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

.form-name {
    width: 100%;
    height: 50px;
    border: none;
    font-size: 14px;
    color: #5F5D5D;
    padding: 0 20px;
    margin-bottom: 20px;
}

.form-mail {
    width: 100%;
    height: 50px;
    border: none;
    font-size: 14px;
    color: #5F5D5D;
    padding:0 20px;
    margin-bottom: 20px;
}

.form-message {
    width: 100%;
    height: 175px;
    resize: none;
    border: none;
    padding: 17px 20px;
    font-size: 14px;
    color: #5F5D5D;
    margin-bottom: 20px;
}

.form-button {
    display: block;
    margin: auto;
    color: white;
    background: #34547A;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 20px 53px;
}






@media (min-width: 768px) {

    .banner-row {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 -30px;

    }

    .banner-note {
        width: 50%;
        padding: 0 30px;
        text-align: center;
        margin-bottom: 0;
    }

    .note-img {
        width: 90%;
    }

    .banner-text {
        width: 50%;
        padding: 0 30px;
        align-items: flex-start;
        text-align: left;
    }

    .main-heading {
        text-align: left;
        font-size: 32px;
        margin: 0 0 30px;
    }

    .banner-text .text {
        font-size: 14px;
        margin: 0 0 30px;
    }

    .banner-text a {
        font-size: 16px;
        padding: 25px 41px;
    }

    .skills-row {
        margin: 0 -20px;
    }
    
    .skills-col {
        padding: 0 20px;
        width: 100%;
        margin: 0;
    }

    .skills-img {
        display: block;
    }

    .skills .title {
        margin: 0 0 30px;
        text-align: left;
    }

    .project-item {
        width: 33.3%;
    }




}










@media (min-width: 1024px) {

    body {
        font-size: 16px;
    }

    .title {
        font-size: 32px;
        line-height: 1.17;
    }

    .container {
        max-width: 1180px;
    }

    .header {
        margin: 0;
    }

    .header-row {
        max-width: 1180px;
        padding: 0 15px;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 57px;
        display: flex;
    }

    .nav {
        order: 2;
        justify-content: flex-end;
    }

    .burger {
        display: none;
    }

    .nav-list {
        display: flex;
        align-items: center;
        position: static;
        background: transparent;
        opacity: 1;
        visibility: visible;
        padding: 0;
        box-shadow: none;
    }

    .nav-list li {
        padding: 0 42px 0 0;
    }

    .nav-list li:last-child {
        padding: 0;
    }

    .banner {
        padding: 260px 0 146px;
    }

    .banner-row {
        align-items: flex-start;
        margin: 0 -65px;
    }

    .banner-note {
        padding: 0 65px;
        text-align: end;
    }

    .note-img {
        width: 100%;
    }

    .banner-text {
        padding: 0 65px;
    }

    .main-heading {
        font-size: 48px;
        margin: 0 0 50px;
    }

    .banner-text .text {
        font-size: 16px;
        margin: 0 0 50px;
    }

    .banner-text a {
        font-size: 16px;
        padding: 25px 41px;
    }

    .about-me {
        background: white;
        padding: 120px 0 100px;
        text-align: center;
    }

    .about-me .title {
        font-size: 32px;
        margin: 0 0 50px;
    }

    .about-me .text {
        font-size: 16px;
    }

    .project {
        padding: 100px 0 50px;
    }

    .project-row {
        margin: 0 -25px;
    }

    .project-item {
        width: 16.666%;
        padding: 0 25px 50px;
    }
    .project-item .title {
        font-size: 21px;
    }

    .skills {
        padding: 100px 0;
    }
    
    .skills-row {
        margin: 0 -75px;
    }
    
    .skills-col {
        padding: 0 75px;
    }

    .skills .title {
        font-size: 32px;
        margin: 0 0 50px;
    }

    .section-video {
        padding: 100px 0;
    }
    
    .section-video .title {
        font-size: 32px;
        margin: 0 0 50px;
    }
    
    .section-video .text {
        margin-bottom: 57px;
    }
    
    .video .video-button {
        position: absolute;
        width: 100px;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
    }

    .img-item {
        width: 25%;
        padding-top: 25%;
    }
    .item-wrap {
        order: 0;
    }

    .clients {
        padding: 72px 0 70px;
    }
    
    .clients-row {
        margin: 0 -15px;
    }
    
    .clients-img {
        padding: 0 15px 30px;
        width: 25%;
    }

    .section-form {
        padding: 100px 0;
    }

    .form-row .title {
        font-size: 32px;
        margin: 0 0 50px;
    }
    
    .form-row .text {
        margin-bottom: 65px;
    }
    
    .form-name {
        width: 255px;
    }

    .form-mail {
        width: 255px;
    }
    .form-message {
        margin-bottom: 50px;
    }



    
}